# Single files or matchable globs
include requirements.txt
include entrypoints.txt

# Folders
graft vesty

# Prune
prune docs
prune requirements
prune tests

global-exclude *.rst
global-exclude *.in
global-exclude *.py[co]
